/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.row:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0px;
}

[class^="col-"] {
  float: left;
  display: block;
  padding: 10px;
}

.col-12 {
  float: none;
  display: block;
}
.col-6 {
  width: 50%;
}
.col-4 {
  width: 33.333%;
}
.col-3 {
  width: 25%;
}